@model IEnumerable<AngularJSWebApi.Models.Bus>

@{
    ViewBag.Title = "Search";
}



    <h1><u><font color="blue"> Buses from @ViewBag.src to @ViewBag.dest</font></u></h1>

    <br />
    <br />
    <br />
    <br />
@if(ViewBag.message == 0)
{
         <font color="Red"><p>Sorry Not Available</p></font>

}
else
{

    
     <table class="table">
        <tr>
            <th>
                Bus Name
            </th>
            <th>
                Number
            </th>
            <th>
                Departure Time
            </th>
            <th>
                Source
            </th>
            <th>
                Destination
            </th>
            <th>
                Type
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.bus_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bus_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departure_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.source)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Route.destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.type)
                </td>

                <td>
                    @Html.ActionLink("Book Ticket", "Book", new { id = item.bus_id }) |
                    @Html.ActionLink("Fare", "Login") 

                </td>
            </tr>
        }

    </table>
}
  