@model AngularJSWebApi.Models.Passenger

@{
    ViewBag.Title = "Details";
}

@if(ViewBag.count==5)
{
    <h1 style="color:red;">@ViewBag.message</h1>
    <br/><br/>
     @Html.ActionLink("Back to List", "Index")
}
else
{
    using (Html.BeginForm()) 
    {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
                <h4>Passenger</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.name,"Name", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name)
                        @Html.ValidationMessageFor(model => model.name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.age, "Age",new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.age)
                        @Html.ValidationMessageFor(model => model.age)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.gender,"Gender", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.gender)
                        @Html.ValidationMessageFor(model => model.gender)
                    </div>
                </div>

      

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
    }


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

}
